@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:wght@100;700;900&display=swap');
* {
  font-family: 'Barlow', sans-serif;
  box-sizing: border-box;
}
/* Header */
.header-img {
  background-image: url('./images/desktop/image-header.jpg');
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center 100%;
}
.logo {
  margin: 2rem 2rem;
  position: absolute;
  z-index: 100;
}
.menu-container {
  z-index: 50;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  display: flex;
  justify-content: flex-end;
  margin-right: 2rem;
}
.menu-container > a {
  padding: 10px;
  margin: 15px 15px 0 10px;
  color: white;
  text-decoration: none;
}
.navbar > header {
  position: relative;
}
.arrow {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
}
header > p {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 17%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  color: white;
  font-family: 'Fraunces', serif;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 10px;
}

.burger {
  z-index: 100;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  display: flex;
  justify-content: flex-end;
  margin-right: 2rem;
}
.burger button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 30px;
  height: 30px;
  margin-top: 20px;
  background: none;
  color: white;
}

/* Content Component */
.content,
.content-transform,
.content-stand-out {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.detail {
  width: 50%;
  padding: 0 100px;
}
.detail b {
  font-size: 40px;
  font-family: 'Fraunces', serif;
  color: hsl(212, 27%, 19%);
}
.detail p {
  margin: 2.5rem 0;
  color: hsl(213, 9%, 39%);
}
.detail > span {
  text-transform: uppercase;
  font-family: 'Fraunces', serif;
  font-weight: 700;
  cursor: pointer;
}
.detail > .learnmore-yellow {
  border-bottom: 4px solid hsl(51, 100%, 49%);
}
.detail > .learnmore-pink {
  border-bottom: 4px solid hsl(7, 99%, 70%);
}
.image-transform,
.image-stand-out {
  width: 50%;
  height: 80vh;
  background-size: cover;
  background-position: center;
}
.image-transform {
  background-image: url('./images/desktop/image-transform.jpg');
}
.image-stand-out {
  background-image: url('./images/desktop/image-stand-out.jpg');
}
.image-graphic-design,
.image-photography {
  width: 50%;
  height: 80vh;
  background-size: cover;
  background-position: center;
  position: relative;
}
.image-graphic-design {
  background-image: url('./images/desktop/image-graphic-design.jpg');
}
.image-photography {
  background-image: url('./images/desktop/image-photography.jpg');
}
.text-img {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.image-graphic-design > .text-img > b,
p {
  color: hsl(167, 40%, 24%);
}
.image-photography > .text-img > b,
p {
  color: hsl(198, 62%, 26%);
}
.text-img > b {
  font-size: 30px;
  font-weight: 900;
  font-family: 'Fraunces', serif;
}
.text-img > p {
  margin-top: 30px;
}

/* Team Component */
.main-team {
  margin: 7rem;
  /* position: relative; */
}
.title {
  display: flex;
  justify-content: center;
  margin-bottom: 2.5rem;
}
.title > p {
  font-family: 'Fraunces', serif;
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  color: hsl(210, 4%, 67%);
  letter-spacing: 10px;
}
.content-team {
  display: flex;
  flex-direction: row;
}
.member {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}
.member > img {
  border-radius: 50%;
  width: 85px;
}
.member > p {
  text-align: center;
  margin: 4rem 0;
}
.member > b {
  font-family: 'Fraunces', serif;
  font-size: 20px;
  margin-bottom: 1rem;
}
.member > div {
  color: hsl(232, 10%, 55%);
}

/* Gallery Component */
.gallery {
  display: flex;
  flex-direction: row;
}
.milkbottles {
  background-image: url('./images/desktop/image-gallery-milkbottles.jpg');
}
.orange {
  background-image: url('./images/desktop/image-gallery-orange.jpg');
}
.cone {
  background-image: url('./images/desktop/image-gallery-cone.jpg');
}
.sugarcubes {
  background-image: url('./images/desktop/image-gallery-sugarcubes.jpg');
}
.milkbottles,
.orange,
.cone,
.sugarcubes {
  width: 50%;
  height: 65vh;
  background-size: cover;
  background-position: 10%;
}

/* Responsive */
@media (min-width: 1024px) {
  /* Header */
  .burger {
    visibility: hidden;
  }
}
@media only screen and (max-width: 1024px) {
  /* Header */
  header > p {
    font-size: 2.5rem;
  }
  .menu-container {
    visibility: hidden;
  }
}
@media only screen and (max-width: 800px) {
  /* Header */
  header > p {
    font-size: 2.2rem;
    top: 25%;
    text-align: center;
  }
  .header-img {
    background-image: url('./images/mobile/image-header.jpg');
    width: 100vw;
    height: 60vh;
  }
  .arrow {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
  }
}

@media only screen and (max-width: 414px) {
  /* Content Component */
  .content-transform {
    flex-direction: column-reverse;
  }
  .content-stand-out,
  .content {
    flex-direction: column;
  }
  .image-transform,
  .image-stand-out {
    width: 100%;
    height: 40vh;
  }
  .detail {
    width: 70%;
    padding: 0;
    margin: 50px;
    text-align: center;
  }
  .image-graphic-design,
  .image-photography {
    width: 100%;
    height: 80vh;
  }
  .text-img {
    position: relative;
    padding: 0 20px;
  }

  /* Team Component */
  .main-team {
    margin: 3rem 2rem;
  }
  .title > p {
    text-align: center;
    font-size: 1rem;
    letter-spacing: 5px;
  }
  .content-team {
    flex-direction: column;
  }
  .member {
    margin: 20px auto;
  }

  /* Gallery Component */
  .gallery {
    flex-wrap: wrap;
  }
  .milkbottles {
    background-image: url('./images/mobile/image-gallery-milkbottles.jpg');
  }
  .orange {
    background-image: url('./images/mobile/image-gallery-orange.jpg');
  }
  .cone {
    background-image: url('./images/mobile/image-gallery-cone.jpg');
  }
  .sugarcubes {
    background-image: url('./images/mobile/image-gallery-sugar-cubes.jpg');
  }
  .milkbottles,
  .orange,
  .cone,
  .sugarcubes {
    width: 50%;
    height: 23.2vh;
  }
}
